<p>books-list works!</p>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> bookname </th>
            <th> description </th>
            <th> stock </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let book of books" >
            <td> {{ book.bookname }} </td>
            <td> {{ book.description }} </td>
            <td> {{ book.stock }} </td>
            <td>
                <button (click) = "updateBook(book.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteBook(book.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <!-- <button (click) = "bookDetails(book.id)" class = "btn btn-info" style="margin-left: 10px"> View</button> -->
            </td>
        </tr>
    </tbody>
</table>
